h1 {
    text-align: center;
}

h3 {
    position: relative;
    background-color: #b9aace;
    text-align: center;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    background-color: #d8bfd8;
}

button {
    padding: 4px;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
    background-color: darkslateblue;
    color: white;
    font-size: 15px;
    width: 170px;
    border: 2px solid rgb(25, 6, 50);
}

#limpa {
    background-color: rgb(99, 87, 179);
    color: white;
}

button:hover,
#limpa:hover {
    transition: 0.3s;
    background-color: rgb(71, 36, 109);
    color: white;
}

input {
    margin-bottom: 15px;
    margin-right: 4px;
}

div.form {
    position: relative;
}

div.links {
    position: relative;
    text-align: center;
}

img {
    margin-right: 50px;
    border: 3px solid #b9aace;
    height: 400px;
}