h1 {
    text-align: center;
}   

h3 {
    background-color: #b9aace;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    background-color: #d8bfd8;
}

button {
    padding: 4px;
    margin-right: 4px;
    margin-bottom: 10px;
    text-align: center;
    background-color: darkslateblue;
    color: white;
    font-size: 15px;
}

input {
    margin-bottom: 15px;
    margin-right: 4px;
}